---
const { nombre } = Astro.props;
---

<section
  class="w-screen h-[70vh] flex justify-center items-center relative bg-[#EA9193] bg-cover bg-center"
>
  <div class="relative w-full h-full mx-auto overflow-hidden">
    <img
      src="/assets/invitations/galya-1439/portada.jpg"
      alt=""
      class="mx-auto"
      '
    />
  </div>
  <div class="mx-auto absolute -bottom-15">
    <img src="/assets/invitations/melany-4846/icon.png" alt="" class="" />
  </div>
</section>
